.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.panel-table {
  .section-title {
    h3 {
      margin: 0;
    }
  }

  .panel-body {
    padding: 25px;

    .btn {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pagination {
    margin-bottom: 10px;
  }
}

.navbar-toggle {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  .icon-bar {
    background: $text-color;
  }
}

.stats-card {
  height: 135px;

  .lead {
    margin-bottom: 10px;
  }
  .stats {
    margin: 0 0 5px;
  }
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  text-align: left;

  &.fixed {
    position: fixed;
    bottom: 20px;
  }
}