a:hover {
  text-decoration: none;
}

.navbar-default .navbar-nav > li.active > a {
  background: transparent;
  border-bottom: 2px solid;
}

.page-title {
  font-size: 20px;
  margin-bottom: 40px;

  small {
    margin-top: 6px;
  }
}

.btn {
  border-radius: 0;
}

.search-container {
  position: relative;

  .search-option {
    margin-bottom: 35px;

    .search-label {
      margin-top: 5px;
    }
  }
}

footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0 !important;
}